<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions Guide</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <img src="/img/logo.png">
    <h1>Questions guide!.</h1>
    <hr />
    <h3>Questions list</h3>

    <h1><%= name %></h1>
    <h1><%= lang %></h1>
    <h1><%= company %></h1>
    <h1><%= subscribers %></h1>

    <% if(msg == true) { %>
        <h3>Error message!</h3>
    <%} else { %>
        <h3>No error!</h3>
    <%}%>

    <% products.forEach(function(product) { %>
        <hr>
        <h3><%= product.name %></h3>
        <h4><%= product.price %></h4>
    <% }) %>


  </body>
</html>
